AMAP_KEY=your_amap_key
AMAP_WEATHER_API_URL=https://restapi.amap.com/v3/weather/weatherInfo
SERPER_API_URL=https://google.serper.dev/search
SERPER_API_KEY=your_serper_api_key
OPENAI_API_KEY=your_openai_api_key
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DASHSCOPE_API_KEY=your_dashscope_api_key
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_RERANK_API_URL=https://dashscope.aliyuncs.com/compatible-api/v1/reranks
